@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@400;700&display=swap');

:root {
    --title-color: #363636;
    --grey-text: #626262;
    --light-text: #F3FBFF;
    --blue-color: #2BAAEC;
    --green-color: #25E6C8;
    --placehold-grey: #DEDEDE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.75rem;
}

.container {
    width: 96%;
    margin: auto;
}
.flex {
    display: flex;
}
.blue {
    color: var(--blue-color);
}
.btn {
    font-size: 1.125rem;
    font-weight: 700;
    padding: 1rem 3rem;
    border: 1px solid transparent;
    border-radius: 0.8rem;
    margin: 1rem 0;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}
.btn-primary {
    background-color: var(--green-color);
    color: var(--light-text);
    width: 239px;
    height: 60px;
}
.btn-primary:hover {
    background-color: var(--blue-color);
    color: #ffffff;
}
.btn-secondary {
    background-color: #ffffff;
    color: var(--blue-color);
    width: 285px;
    height: 60px;
}
.btn-secondary:hover {
    background-color: #2ba8ecda;
    color: #ffffff;
    border: 2px solid #ffffff;
}

/* Top menu */
#top-nav {
    font-size: 1rem;
    padding: 1rem 0;
    align-content: center;    
    display: none;
}
#top-nav .flex {
    justify-content: space-between;
    align-items: center;
}
.bg-light {
    background-color: #ffffff;
    color: var(--grey-text);
    border: 1px solid #707070;
}
.p-r {
    padding-right: .5rem;
}
.p-l {
    padding-left: 1rem;
}
#top-nav a:hover {
    color: var(--green-color);
}

/* Main menu */
#main-nav {
    padding: 2rem 0 1rem 0;
}
#main-nav .flex {
    justify-content: space-between;
    align-items: center;
}
.logo-link img {
    height: 4rem;
    align-items: center;
}
.navbar-toggler {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 2.5rem;
    color: var(--blue-color);
    align-items: center;
    cursor: pointer;
}
.navbar-toggler:hover {
    color: #2ba8ecda;
    transform: scale(.9);
}
.collapse:not(.show) {
    display: none;
}  
.nav-link {
    font-family: 'Roboto Slab', serif;
    font-size: 1.125rem;
    color: var(--title-color);
    text-decoration: none;
    padding-left: 2rem;
}

/* Showcase */
#showcase {
    background-color: var(--placehold-grey);
    padding-top: 1rem;
}
.content {
    align-self: center;
    text-align: center;
    padding: 3rem 0;
    max-width: 690px;
}
.header {
    font-family: 'Roboto Slab', serif;
    font-size: 2.5rem;
    line-height: 3.125rem;
    color: var(--title-color);
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.text {
    font-size: 1.125rem;
    color: var(--grey-text);
    margin-top: .5rem;
    margin-bottom: 1rem;
}

/* About us */
#about {
    background-color: #ffffff;
    padding-top: 4rem;
}
.header2 {
    font-family: 'Roboto Slab', serif;
    font-size: 2.5rem;
    line-height: 3.125rem;
    color: var(--title-color);
    margin-bottom: 1rem;
}
.br {
    border-top: 4px solid transparent;
}
.numbers {
    font-family: 'Roboto Slab', serif;
    font-size: 2.5rem;
    color: var(--blue-color);
    display: flex;
    flex-direction: column;
}
.subtext {
    font-family: 'Roboto Slab', serif;
    font-size: 1.125rem;
    color: var(--title-color);
    font-size: 1.125rem;
    padding: 1rem 0;
}
.bg-img {
    background-image: url(/img/placehold2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Services */
#services {
    background-color: #f7f7f7;
    padding-top: 5rem;
    padding-bottom: 1rem;
    text-align: center;
}
#services .header2 {
    text-align: center;
    border-bottom: 4px solid var(--green-color);
    padding: 3rem 1rem 1rem 1rem;
}
.container-small {
    max-width: 450px;
    margin: auto;
}
.grid {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
}
.card {
    border-radius: 10px;
    background-color: #ffffff;
    padding: 5rem 1rem 3rem 1rem;
    cursor: pointer;
    position: relative;
}
.circle {
    width: 120px;
    height: 120px;
    background-color: var(--green-color);
    border-radius: 50%;
    border: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
}
.card-header {
    font-family: 'Roboto Slab', serif;
    font-size: 1.375rem;
    line-height: 1.875rem;
    color: var(--title-color);
    margin-top: 6rem;
    padding: 1rem 0 0 0;
}
.card-body {
    padding: .5rem .5rem;
    max-width: 350px;
    display: inline-block;
}
.card:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition-delay: .3s;
}
.card:hover .circle {
    background-color: var(--blue-color);
    border: 10px solid rgba(43, 170, 236, 0.2);
    box-sizing: content-box;
    background-clip: content-box;
    top: calc(10% - 10px);
    transition: ease-out .3s;
}
.card:active .circle {
    box-sizing: border-box;
    border: transparent;
    top: 10%;
    transition: none;
}
.card:active {
    box-shadow: none;
    transition: none;
}

/* Appointment */
#appointment {
    background-color: rgba(43, 170, 236, 0.8);
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
    font-size: 1rem;
    line-height: 3rem;
    padding: 3rem 0;
    align-content: center;
}
#appointment .flex {
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
#appointment .btn-secondary:hover {
    background-color: transparent;
}
#icons {
    background-color: #ffffff;
    padding: 4rem 0 3rem 0;
}
#icons .flex {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.scale-up {
    font-size: 1.2rem;
    padding: 2rem 0 1rem 0;
}
#icons a:hover {
    color: var(--green-color);
}

/* Footer */
.footer {
    background-color: #ffffff;
    padding-bottom: 1rem;
}
.footer p {
    color: rgba(43, 170, 236, 0.85);
    font-size: 1rem;
    padding-top: 1rem;
    text-align: center;
}
.line {
    border-top: 0.1px solid rgba(43, 170, 236, 0.80);
}


/* Media queries */
@media (max-width:380px) {
    #appointment {
        font-size: 0.8rem;
        line-height: 1.5rem;
        text-align: center;
        }
    .scale-up {
        font-size: 1.2rem;
        }
}

@media (min-width: 768px) {
    .container {
        width: 85%;
        }
    #top-nav {
        display: block;
        }
    .logo-link img {
        height: 4.5rem;
        }
    .navbar-toggler {
        display: none;
        }
    .collapse:not(.show) {
        display: block;
        }
    #main-nav {
        padding: 3.5rem 0;
        }
    .showcase-img {
        background-image: url(/img/placehold1light.png);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: right top;
        }
    #showcase .content {
        text-align: left;
        max-height: 700px;
        }
    .header {
        font-size: 3.75rem;
        line-height: 4.375rem;
        }
    .bg-img {
        background-size: auto;
        background-position: right bottom;
        }
    #about .content {
        text-align: left;
        }
    #services {
        padding-bottom: 8rem;
        }
    .grid {
        grid-template-columns: repeat(2, 1fr);
        }
    #appointment {
        font-size: 1.3rem;
        line-height: 3rem;
        padding: 4rem 0 3rem 0;
        }
    #icons {
        display: none;
        }
    .footer {
        background-color: var(--blue-color);
        }
    .footer p {
        color: rgba(243, 251, 255, 0.60);
        }
    .line {
        border-top: 0.1px solid #ffffffa1;
        }
}

@media (min-width: 992px) {
    .container {
        width: 80%;
        }
    .showcase-img {
        background-position: left top;
        min-height: 680px;
        }
    #showcase .content {
        width: 460px;
        }
    #showcase .flex {
        justify-content: right;
        }
}

@media (min-width: 1200px) {
    .logo-link img {
        height: 5rem;
    }
    .bg-img {
        min-height: 724px;
        }
    #about .content {
        width: 50vw;
        }
    .br {
        padding-top: 3.125rem;
        border-top: 4px solid var(--green-color);
        }
    .subtext {
        color: var(--title-color);
        font-size: 1rem;
        }
    .grid {
        grid-template-columns: repeat(3, 1fr);
        }
    #appointment {
        font-size: 1.875rem;
        padding: 2.5rem 0;
        }
    #appointment .container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        }
}

@media (min-width: 1400px) {
    .showcase-img {
        background-image: url(/img/placehold1.png);
        }
    .spread {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 580px;
        }
    .numbers {
        color: var(--blue-color);
        font-size: 2.5rem;
        display: flex;
        flex-direction: column;
        padding-top: 2rem;
        padding-right: 2rem;
        }
    .subtext {
        color: var(--title-color);
        font-size: 1.125rem;
        }
}

@media (min-width: 1800px) {
    .container {
        width: 75%;
        }
    #showcase .content {
        width: 45vw;
        }
    }

